*{
    font-family: 'Futura-Medium';
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
}
#navbar{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:rgb(138,202,239);
    z-index: 1;
}
#navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:400px;
}
#navLinks a{
    text-decoration: none;
    color: white;
    font-family: 'Futura-Bold';
    transition:100ms;
}
#navLinks a:hover{
    color: rgb(241,129,52);
}
#dropdown{
    display: none;
}

#mainSection{
    position: relative;
    top:70px;
    bottom:70px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(138,202,239);
    width: 100%;
}
h1{
    color: white;
    font-size: 50px;
}
#aboutMe{
    display: flex;
    color:white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 100%;
    background: url(https://images.wallpaperscraft.com/image/road_traffic_skyscrapers_manhattan_new_york_120441_3840x2160.jpg);
    background-size: cover;
    text-align: center;
    font-size: 17px;
}
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
#infoAboutMe{
    display: flex;
    flex-direction: column;
    width:500px;
    justify-content: center;
}
#infoAboutMe a{
    text-decoration: none;
    color:rgb(241,129,52);
}
#infoAboutMe a:hover{
    cursor: pointer;
    color:rgb(244,169,41);
}
#imageOfMe{
    height: 350px;
    border-radius: 50%;
}
.skillSetPngs{
    height: 50px;
}
#cssPng{
    padding-left: 8px;
}
#skillLevel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.progressBarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
.progressBar {
    background: rgb(138,202,239, 0.4);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 500px;
  }
  .progressBarValue{
    border-radius: 100px;
    height: 10px;
    width: 0;
  }
  #progressBarValueHTML {
    animation: html 3s normal forwards;
    background: rgb(241,129,52);
  }
  #progressBarValueCSS {
    animation: css 3s normal forwards;
    background: rgb(64,97,172);
  }
  #progressBarValueJS {
    animation: js 3s normal forwards;
    background: rgb(250,210,38);
  }
  @keyframes html {
    0% { width: 0; }
    100% { width: 44%; }
  }
  @keyframes css {
    0% { width: 0; }
    100% { width: 39%; }
  }
  @keyframes js {
    0% { width: 0; }
    100% { width: 12%; }
  }

#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
    background-color: rgb(232,179,50);
    width: 100%;
    text-align: center;
}
#portfolioItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.portfolioImages{
    height:400px;
    width: 300px;
    object-fit:cover;
    object-position: 15%;
}
#technicalDocumentation{
    object-fit:cover;
    object-position: 50%;
}
#libraryForm{
    object-fit:cover;
    object-position: 50%;
}
#googleMock{
    object-fit:cover;
    object-position: 50%;
}
.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
#contactArea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(https://images.wallpaperscraft.com/image/traffic_cars_city_124064_3840x2160.jpg);
    align-items: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-bottom: 70px;
}
h2{
    color: white;
}
#formDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.inputs{
    width: 400px;
    outline: none;
    border-radius:5px;
    height: 30px;
    border-width: 0.5px;
    font-size: 20px;
}
#textArea{
    resize: none;
    outline: none;
    width: 400px;
    border-radius:5px;
    border-width: 0.5px;
    font-size: 20px;
}
#submitButton{
    width:100px;
    height: 40px;
    border-radius:5px;
    border-width: 0px;
    font-size: 20px;
    background-color: rgb(232,179,50);
    color: white;
}
#submitButton:hover{
    cursor: pointer;
    background-color: rgb(250,210,38);
}
#formImg{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 10% 10%;
    border-radius: 6px 6px 0 0;
}
#profileCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(232,179,50);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
}
#profileCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#cardDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
#cardDetails a{
    color:rgb(64,97,172);
    text-decoration: none;
}
#cardDetails a:hover{
    color: rgb(108,168,217);
}
#socialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footer{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color:rgb(138,202,239) ;
    margin-bottom:0;
}
#footerDiv{
    text-align: center;
    color: white;
    font-size: 18px;
}
#footerDiv a{
    text-decoration: none;
    color: rgb(229,143,53);
}
#footerDiv a:hover{
    color: rgb(232,179,50);
}

/* *******************MEDIA QUERIES******************* */

@media screen and (max-width: 1200px){
    
    .portfolioImages{
        height: 300px;
        width: 250px;
    }
}

@media screen and (max-width: 1000px){
    
    #projects, #aboutMe{
        height: fit-content;
    }

    #portfolioItems{
        flex-wrap: wrap;
        padding:20px;
    }
    #info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px;
    }
}
@media screen and (max-width: 820px){
    
    h1{
        font-size: 40px;
    }
    #imageOfMe{
        height: 300px;
    }
}
@media screen and (max-width: 800px){
    
    #contactArea{
        height:1000px;   
    }
    #formDiv{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
    }
    #navLinks{
        display: none;
    }
    #dropdown{
        display: inline-block;
        margin-right:20px;
    }
    #dropdownButton{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 21.7px 12.5px 0;
        border-color: transparent rgb(241,129,52) transparent transparent;
        background-color: transparent;
        outline:0;
        cursor: pointer;
    }
    #buttonDiv{
        width: 50px;
        transition: 100ms;
    }
    #buttonDiv:hover{
        transform:rotate(-90deg);
        cursor: pointer;
    }
    #dropdownLinks{
        display: none;
        position: absolute;
        background-color: teal;
    }
    #dropdown:hover #dropdownLinks {
        display: block;
        background-color: rgb(106,184,231);
        width: 200px;
        right: 20px;
        z-index: 1;
    }
    #dropdownLinks a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.4s;
      } 
    #dropdownLinks a:hover{
        background-color: rgb(241,129,52);
    }
    #dropdown:hover #buttonDiv {
        transform:rotate(-90deg);
    }
}
@media screen and (max-width: 660px){
    
    h1{
        font-size: 35px;
    }
    .progressBarDiv{
        justify-content: center;
    }
    .progressBar{
        width:400px;
    }
}
@media screen and (max-width: 600px){
    
    h1{
        font-size: 30px;
    }

    .portfolioImages{
        height: 200px;
        width: 150px;
    }
}
@media screen and (max-height: 550px){
    #home{
        height: 550px;
    }
}
